.TLwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.TL {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color: black;
  width: 60px;
  border-radius: 5%;
  margin-bottom: 15px;
}
.TL div {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 0.4;
}
#red {
  background-color: red;
  margin-bottom: 10px;
}
#orange {
  background-color: orange;
  margin-bottom: 10px;
}
#green {
  background-color: green;
}
